<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Thymeleaf Hello World</title>
</head>
<body>
<!-- 	<h1 th:text="'Thymeleaf ' + ${nombre} + ' App'"></h1> -->
	<h1>UNO!</h1>
    <form action="Registrar" method="post">
        Id: <input type="number" name="id"><br>
        Nombre: <input type="text" name="nombre"><br>
        Codigo: <input type="password" name="codigo"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>